.u-section-1 .u-sheet-1 {
  min-height: 729px;
}

.u-section-1 .u-image-1 {
  width: 394px;
  height: 617px;
  margin: 21px auto 0 678px;
}

.u-section-1 .u-group-1 {
  width: 627px;
  min-height: 454px;
  margin: -617px auto 0 79px;
}

.u-section-1 .u-container-layout-1 {
  padding: 6px 30px 6px 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 300;
  line-height: 1.4;
  font-size: 1.25rem;
  font-style: normal;
  margin: 20px 9px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 869px;
  margin: 0 auto 0 68px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 168px;
}

.u-section-1 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 168px;
}

.u-section-1 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-1 .u-text-4 {
  margin: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 168px;
}

.u-section-1 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-1 .u-text-5 {
  margin: 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  font-size: 1.25rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 34px auto 30px;
  padding: 9px 13px 11px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 392px;
    margin-left: 546px;
  }

  .u-section-1 .u-group-1 {
    min-height: 406px;
    margin-top: -608px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 64px;
    margin-left: 13px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 880px;
    margin-top: 12px;
    margin-left: 21px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 62px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1226px;
  }

  .u-section-1 .u-image-1 {
    width: 293px;
    height: 402px;
    margin-top: 148px;
    margin-right: 13px;
    margin-left: 326px;
  }

  .u-section-1 .u-group-1 {
    min-height: 542px;
    margin-top: -510px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -18px;
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    margin-top: 38px;
    margin-right: 299px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 640px;
    margin-top: -249px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 228px;
  }

  .u-section-1 .u-text-3 {
    font-weight: normal;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 228px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 228px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 54px;
    margin-bottom: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    height: 401px;
    margin-left: 146px;
  }

  .u-section-1 .u-group-1 {
    min-height: 241px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 10px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 534px;
    margin-top: 22px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 33px;
    margin-bottom: 27px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 970px;
  }

  .u-section-1 .u-image-1 {
    height: 428px;
    width: 280px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    min-height: 244px;
    margin-top: -532px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.0625rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-2 {
  min-height: 619px;
}

.u-section-2 .u-image-1 {
  height: 505px;
  object-position: 50% 26.66%;
  background-position: 50% 19.23%;
  margin-top: 1px;
  margin-bottom: 0;
  filter: brightness(0.75);
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  width: 506px;
  margin: -75px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 30px 30px;
  min-height: 120px;
}

.u-section-2 .u-list-item-1 {
  background-image: linear-gradient(#478ac9, #adcce9);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-1 {
  padding: 23px 30px;
}

.u-section-2 .u-text-1 {
  line-height: 1;
  font-weight: 700;
  font-family: titillium-Web;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  margin: 18px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 4.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  width: 840px;
  margin: -307px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 581px;
  }

  .u-section-2 .u-image-1 {
    object-position: 50% 0%;
    margin-top: 0;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-top: -82px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 128px;
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-2 .u-text-3 {
    font-size: 3.75rem;
    width: auto;
    margin-top: -540px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 598px;
  }

  .u-section-2 .u-list-1 {
    width: 360px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 140px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -410px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 593px;
  }

  .u-section-2 .u-image-1 {
    object-position: 72.78% 0%;
  }

  .u-section-2 .u-list-1 {
    height: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: -301px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1344px;
  }

  .u-section-2 .u-image-1 {
    object-position: 69.06% 0%;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.875rem;
  }
}