 .u-section-1 {
  background-image: linear-gradient(to right, #db545a, #f1c50e);
}

.u-section-1 .u-sheet-1 {
  min-height: 618px;
}

.u-section-1 .u-shape-1 {
  width: 102px;
  height: 102px;
  margin: 202px auto 0 43px;
}

.u-section-1 .u-shape-2 {
  width: 331px;
  height: 331px;
  margin: -73px auto 0 74px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: -271px 141px 60px 120px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-top: 203px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -188px;
  }

  .u-section-1 .u-text-1 {
    width: 879px;
    margin-left: 20px;
    margin-right: 41px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    margin-top: 308px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -294px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    margin-top: 414px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -399px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    margin-top: 57px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -43px;
    margin-left: 9px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 316px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  width: 1140px;
  margin: 5px 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 20% 20% 20% 20% 20%;
  min-height: 306px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-2 .u-image-1 {
  height: 90px;
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 40px;
}

.u-section-2 .u-image-2 {
  height: 90px;
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 40px;
}

.u-section-2 .u-image-3 {
  height: 90px;
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 40px;
}

.u-section-2 .u-image-4 {
  height: 90px;
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 40px;
}

.u-section-2 .u-image-5 {
  height: 90px;
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 40px;
}

.u-section-2 .u-image-6 {
  height: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 40px;
}

.u-section-2 .u-image-7 {
  height: 90px;
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px 40px;
}

.u-section-2 .u-image-8 {
  height: 90px;
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px 40px;
}

.u-section-2 .u-image-9 {
  height: 90px;
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-10 {
  padding: 30px 40px;
}

.u-section-2 .u-image-10 {
  height: 90px;
  margin-top: 3px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 822px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 308px;
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 25% 25% 25% 25%;
    min-height: 252px;
  }

  .u-section-2 .u-image-1 {
    height: 66px;
  }

  .u-section-2 .u-image-2 {
    height: 66px;
  }

  .u-section-2 .u-image-3 {
    height: 66px;
  }

  .u-section-2 .u-image-4 {
    height: 66px;
  }

  .u-section-2 .u-image-5 {
    height: 66px;
  }

  .u-section-2 .u-image-6 {
    height: 66px;
  }

  .u-section-2 .u-image-7 {
    height: 66px;
  }

  .u-section-2 .u-image-8 {
    height: 66px;
  }

  .u-section-2 .u-image-9 {
    height: 66px;
  }

  .u-section-2 .u-image-10 {
    height: 66px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1471px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 350px;
    margin-bottom: 40px;
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 643px;
  }

  .u-section-2 .u-image-1 {
    height: 110px;
    margin-top: 0;
  }

  .u-section-2 .u-image-2 {
    height: 110px;
    margin-top: 0;
  }

  .u-section-2 .u-image-3 {
    height: 110px;
    margin-top: 0;
  }

  .u-section-2 .u-image-4 {
    height: 110px;
    margin-top: 0;
  }

  .u-section-2 .u-image-5 {
    height: 110px;
    margin-top: 0;
  }

  .u-section-2 .u-image-6 {
    height: 110px;
  }

  .u-section-2 .u-image-7 {
    height: 110px;
    margin-top: 0;
  }

  .u-section-2 .u-image-8 {
    height: 110px;
    margin-top: 0;
  }

  .u-section-2 .u-image-9 {
    height: 110px;
    margin-top: 0;
  }

  .u-section-2 .u-image-10 {
    height: 110px;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1413px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 437px;
    margin-bottom: 5px;
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 904px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 153px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 153px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 153px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }

  .u-section-2 .u-image-4 {
    height: 153px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }

  .u-section-2 .u-image-5 {
    height: 153px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }

  .u-section-2 .u-image-6 {
    height: 153px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }

  .u-section-2 .u-image-7 {
    height: 153px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }

  .u-section-2 .u-image-8 {
    height: 153px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }

  .u-section-2 .u-image-9 {
    height: 153px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }

  .u-section-2 .u-image-10 {
    height: 153px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1303px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 427px;
    width: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 196px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 196px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 196px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    height: 196px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-5 {
    height: 196px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-6 {
    height: 196px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-7 {
    height: 196px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-8 {
    height: 196px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-9 {
    height: 196px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-10 {
    height: 196px;
  }
}