 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 862px;
}

.u-section-1 .u-image-1 {
  width: 1289px;
  left: -75px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    left: -175px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    left: -285px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    left: -50px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 963px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 600;
  width: 774px;
  margin: 15px auto 0;
}

.u-section-2 .u-list-1 {
  width: 1060px;
  margin: 0 auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 518px;
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 40px 30px;
}

.u-section-2 .u-icon-1 {
  height: 97px;
  width: 97px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  margin: -97px 0 0 138px;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  font-size: 1.25rem;
  margin: 15px 0 0 138px;
}

.u-section-2 .u-container-layout-2 {
  padding: 40px 30px;
}

.u-section-2 .u-icon-2 {
  height: 97px;
  width: 97px;
  background-image: none;
  color: rgb(71, 138, 201) !important;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-5 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  margin: -97px 0 0 138px;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  font-size: 1.25rem;
  margin: 15px 0 0 138px;
}

.u-section-2 .u-container-layout-3 {
  padding: 40px 30px;
}

.u-section-2 .u-icon-3 {
  height: 97px;
  width: 97px;
  background-image: none;
  color: rgb(71, 138, 201) !important;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-7 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  margin: -97px 0 0 138px;
}

.u-section-2 .u-text-8 {
  font-style: italic;
  font-size: 1.25rem;
  margin: 15px 0 0 138px;
}

.u-section-2 .u-container-layout-4 {
  padding: 40px 30px;
}

.u-section-2 .u-icon-4 {
  height: 97px;
  width: 97px;
  background-image: none;
  color: rgb(71, 138, 201) !important;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-9 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  margin: -97px 0 0 138px;
}

.u-section-2 .u-text-10 {
  font-style: italic;
  font-size: 1.25rem;
  margin: 15px 0 0 138px;
}

.u-section-2 .u-container-layout-5 {
  padding: 40px 30px;
}

.u-section-2 .u-icon-5 {
  height: 97px;
  width: 97px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-11 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  margin: -97px 0 0 138px;
}

.u-section-2 .u-text-12 {
  font-style: italic;
  font-size: 1.25rem;
  margin: 15px 0 0 138px;
}

.u-section-2 .u-container-layout-6 {
  padding: 40px 30px;
}

.u-section-2 .u-icon-6 {
  height: 97px;
  width: 97px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-13 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  margin: -97px 0 0 138px;
}

.u-section-2 .u-text-14 {
  font-style: italic;
  font-size: 1.25rem;
  margin: 15px 0 0 138px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 459px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 9px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 112px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: 9px;
    margin-left: 112px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 9px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-left: 112px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-right: 9px;
    margin-left: 112px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 9px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-left: 112px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-right: 9px;
    margin-left: 112px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 9px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-left: 112px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-right: 9px;
    margin-left: 112px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-2 .u-icon-5 {
    margin-left: 9px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-left: 112px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-right: 9px;
    margin-left: 112px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-2 .u-icon-6 {
    margin-left: 9px;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-left: 112px;
  }

  .u-section-2 .u-text-14 {
    width: auto;
    margin-right: 9px;
    margin-left: 112px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-icon-5 {
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-12 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-icon-6 {
    margin-left: 0;
  }

  .u-section-2 .u-text-13 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-14 {
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2031px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.625rem;
    width: auto;
    margin-top: 55px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-3 {
  background-image: url("images/awdedqw-min.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 1161px;
}

.u-section-3 .u-group-1 {
  width: 776px;
  min-height: 664px;
  margin: 465px 0 32px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  color: rgb(255, 255, 255) !important;
  margin: 0 0 0 auto;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.4;
  margin: 30px 0 0 96px;
}

.u-section-3 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 20px 0 0 127px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 768px;
  }

  .u-section-3 .u-group-1 {
    width: 727px;
    min-height: 394px;
    margin-top: 318px;
    margin-bottom: 56px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 588px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 53px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 120px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    background-position: 55.08% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
    margin-top: 267px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    line-height: 1.2;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    background-position: 60.06% 52.23%;
    background-size: auto 125%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 451px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1075px;
}

.u-section-4 .u-shape-1 {
  width: 166px;
  height: 166px;
  margin: 70px auto 0 124px;
}

.u-section-4 .u-shape-2 {
  width: 296px;
  height: 296px;
  background-image: none;
  margin: 363px 18px 0 auto;
}

.u-section-4 .u-image-1 {
  width: 827px;
  height: 923px;
  margin: -858px 106px 0 auto;
}

.u-section-4 .u-group-1 {
  width: 510px;
  min-height: 579px;
  margin: -476px auto 0 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 40px 17px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 18px auto 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.8;
  margin: 18px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-size: 1rem;
  font-weight: 700;
  background-image: none;
  letter-spacing: 1px;
  text-transform: none;
  margin: 18px auto 0 0;
  padding: 12px 24px;
}

.u-section-4 .u-icon-1 {
  font-size: 1.2em;
  color: rgb(255, 255, 255) !important;
  vertical-align: 0px;
}

.u-section-4 .u-shape-3 {
  width: 146px;
  height: 146px;
  margin: -190px 276px 56px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1099px;
  }

  .u-section-4 .u-shape-1 {
    margin-left: 61px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: 281px;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    width: 710px;
    height: 557px;
    margin-top: -665px;
    margin-right: auto;
    margin-left: 124px;
  }

  .u-section-4 .u-group-1 {
    width: 428px;
    margin-top: -203px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1019px;
  }

  .u-section-4 .u-shape-1 {
    margin-left: 18px;
  }

  .u-section-4 .u-shape-2 {
    width: 254px;
    height: 254px;
    margin-top: 248px;
  }

  .u-section-4 .u-image-1 {
    width: 556px;
    height: 490px;
    margin-top: -593px;
    margin-right: 76px;
    margin-left: auto;
  }

  .u-section-4 .u-group-1 {
    margin-top: -204px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-shape-3 {
    width: 121px;
    height: 121px;
    margin-top: -159px;
    margin-right: 113px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 966px;
  }

  .u-section-4 .u-shape-1 {
    width: 103px;
    height: 103px;
    margin-right: 419px;
    margin-left: auto;
  }

  .u-section-4 .u-shape-2 {
    width: 228px;
    height: 228px;
    margin-top: 122px;
  }

  .u-section-4 .u-image-1 {
    width: 414px;
    height: 326px;
    margin-top: -404px;
    margin-right: auto;
  }

  .u-section-4 .u-group-1 {
    width: 366px;
    margin-top: -56px;
  }

  .u-section-4 .u-shape-3 {
    width: 91px;
    height: 91px;
    margin-top: -292px;
    margin-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1040px;
  }

  .u-section-4 .u-shape-1 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-shape-2 {
    width: 197px;
    height: 197px;
    margin-top: 15px;
  }

  .u-section-4 .u-image-1 {
    height: 201px;
    width: 274px;
    margin-top: -264px;
  }

  .u-section-4 .u-group-1 {
    width: 292px;
    margin-top: 33px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-shape-3 {
    width: 71px;
    height: 71px;
    margin-top: 18px;
    margin-right: 60px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 355px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 60px auto 0 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 295px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-line-1 {
  width: 150px;
  transform-origin: left center;
  height: 3px;
  margin: 30px auto 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 295px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  font-style: italic;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-5 .u-btn-1 {
  font-weight: 700;
  text-transform: none;
  letter-spacing: 1px;
  font-size: 1rem;
  background-image: none;
  margin: 27px auto 0 0;
  padding: 10px 44px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 303px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 243px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 243px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 160px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 260px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 382px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 13px auto 0;
}

.u-section-6 .u-accordion-1 {
  width: 1140px;
  margin: 13px -13px 25px auto;
}

.u-section-6 .u-accordion-link-1 {
  font-weight: 700;
  font-size: 1.5rem;
  padding: 20px 30px;
}

.u-section-6 .u-icon-1 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-6 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-6 .u-accordion-link-2 {
  font-weight: 700;
  font-size: 1.5rem;
  padding: 20px 30px;
}

.u-section-6 .u-icon-2 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-6 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-6 .u-accordion-link-3 {
  font-weight: 700;
  font-size: 1.5rem;
  padding: 20px 30px;
}

.u-section-6 .u-icon-3 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-6 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-6 .u-container-layout-3 {
  padding: 20px 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    width: 338px;
  }

  .u-section-6 .u-accordion-1 {
    width: 940px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-accordion-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 855px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-accordion-1 {
    width: 340px;
  }
}